
* {
  margin: 0;
  padding: 0;

}
body {
  font-family: 'Lato', sans-serif;
}

#content {
  margin: 0 40px;
}

#content h2 {
  text-decoration: underline;
}

#content > ul {
  list-style-type: none;
}
#content ul li ul {
  padding-left: 30px;
  margin-top: 5px;
}

#content > ul > li {
  margin: 10px 0;
}
